<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Profile</title>
    <link rel="stylesheet" href="/cssStyles/adminProfileStyle.css"/>
    <script src="https://kit.fontawesome.com/cc68b5781c.js" crossorigin="anonymous"></script></head>
<body>
<div class="sidebar">
    <div class="sidebar-logo">
<!--        <h2><span class="logo">Restaurant</span></h2>-->
        <h2><span class="logo"><i class="fa-solid fa-carrot"></i>Restaurant</span></h2>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li>
<!--                <a href="" class="active"><span class="fa-solid fa-caret-down"></span>-->
<!--                    <span>Dashboard</span></a>-->
            </li>
            <li>
                <a th:href="@{/adminProfileView/{id}/adminAddMeal (id=${adminId})}"><span class="fa-solid fa-plus"></span>
                    <span>Add new meal</span></a>
            </li>
            <!--            <li><a href="category.html">Category</a></li>-->
            <li>
                <a th:href="@{/adminProfileView/{id}/adminViewAllMeal (id=${adminId})}"><span class="fa-solid fa-bars"></span>
                    <span>All meals</span></a>
            </li>
            <li>
                <a href=""><span class="fa-solid fa-key"></span>
                    <span>Change Password</span></a>
            </li>
            <li>
                <a href="/login"><span class="fa-solid fa-right-from-bracket"></span>
                    <span>Logout</span></a>
            </li>
        </ul>
    </div>
</div>

<div class="main-content">
    <header>
        <!--        <h2>-->
        <!--            <label for="">-->
        <!--                <span class="fa-solid fa-bars"></span>-->
        <!--            </label>-->
        <!--            Dashboard-->
        <!--        </h2>-->

        <div class="admin-wrapper">
            <div> <label>WELCOME  "ADMIN"  <-----HERE WILL BE ADMIN NAME!</label>
                <!--                <small><span th:value="${admin.getFirstName()}"></span>-->
                <!--                    Admin</small>-->
            </div>
        </div>
    </header>

    <main>
        <h2>ADD INFORMATION ABOUT MEAL</h2>
<!--        <div class="recent-grid">-->

                    <!--        <form action="/adminAddMeal" method="post" enctype="multipart/form-data">-->


            <div class="form-container">

                    <form class="form-flex" th:action="${'/adminProfileView/'+ adminId +'/adminAddMeal'}" method="post">

                        <div class="box">
                            <input class="block" name="foodName" type="text" placeholder="Meal title" required>
                        </div>

                        <div class="box">
                            <!--                <label>Select category:</label>-->
                            <select class="block" name="category" required>
                                <option value="">Select category</option>
                                <option value="Breakfast">Breakfast</option>
                                <option value="Business Lunch">Business Lunch</option>
                                <option value="Dinner">Dinner</option>
                                <option value="Special offer">Special Offer</option>
                                <option value="Desserts">Desserts</option>
                                <option value="Bakery">Bakery</option>
                                <option value="Drinks">Drinks</option>
                                <option value="Cutlery">Cutlery</option>
                            </select>
                        </div>

                        <div class="box">
                            <!--                <label>Select type:</label>-->
                            <select class="block" name="type" required>
                                <option value="">Select type</option>
                                <option value="Meat main dishes">Meat main dishes</option>
                                <option value="Fish main dishes">Fish main dishes</option>
                                <option value="Vegetable dishes">Vegetable dishes</option>
                                <option value="Side dishes">Side dishes</option>
                                <option value="Soups">Soups</option>
                                <option value="Salads">Salads</option>
                                <option value="Pancakes">Pancakes</option>
                                <option value="Burgers">Burgers</option>
                                <option value="Snacks">Snacks</option>
                                <option value="Sauces">Sauces</option>
                                <option value="Bread">Bread</option>
                                <option value="Desserts">Desserts</option>
                                <option value="Bakery">Bakery</option>
                                <option value="Water">Water</option>
                                <option value="Coffee">Coffee</option>
                                <option value="Tea">Tea</option>
                                <option value="Juice">Juice</option>
                                <option value="Cutlery">Cutlery</option>
                            </select>
                        </div>

                        <div class="box">
                            <input class="block" name="description" type="text" placeholder="Description" required>
                        </div>

                        <div class="box">
                            <input class="block" step="0.01" name="price" type="number" placeholder="Price" required>
                        </div>

                        <div class="box">
                            <span class="inStock">In stock </span><input class="checkbox" type="checkbox" name="inStock">
                        </div>

                        <div class="box">
                            <input class="block" name="foodPhotoUrl" type="url" placeholder="Add picture url" required>
                        </div>
                        <div class="box">
                            <button class="form-button" type="submit">Submit</button>
                        </div>
                    </form>
            </div>

<!--        </div>-->
    </main>
                <!--- for table ---->
<!--        <div class="recent-grid">-->
<!--            <div class="orders">-->

<!--                <table width="100%">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>Id</th>-->
<!--                        <th>Cart id</th>-->
<!--                        <th>Customer id</th>-->
<!--                        <th>Status</th>-->
<!--                        <th>Created at</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="order : ${orders}">-->
<!--                        <td th:text="${order.id}"></td>-->
<!--                        <td th:text="${order.id}"></td>-->
<!--                        <td th:text="${order.id}"></td>-->
<!--                        <td th:text="${order.status}"></td>-->
<!--                        <td th:text="${order.createdAt}"></td>-->
<!--                        <td><a class="button-update" th:href="@{order-update/{id}(id=${order.id})}">Edit</a></td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
</div>
</div>
</body>
</html>