<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Meal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Luckiest+Guy&family=Raleway:ital,wght@0,400;0,500;1,600&display=swap" rel="stylesheet">

    <link href="/cssStyles/styleFoodItemTable.css" rel="stylesheet" >


</head>
<body>
<header>
    <div class="nav-box">
        <a class="nav-link-view-all" href="/adminViewAllMeal">View all meals</a>
    </div>


</header>

<h2>ADD INFORMATION ABOUT MEAL</h2>

<section class="add-meal">
    <div class="form-container">
        <!--        <form action="/adminAddMeal" method="post" enctype="multipart/form-data">-->
        <form action="/adminAddMeal" method="post">
            <div class="input-box-1">
                <input class="block" name="foodName" type="text" placeholder="Meal name">
            </div>

            <div class="option-category">
                <label>Choose category:</label>
                <select name="category">
                    <option value="Breakfast">Breakfast</option>
                    <option value="Business Lunch">Business Lunch</option>
                    <option value="Dinner">Dinner</option>
                    <option value="Special offer">Special Offer</option>
                </select>
            </div>


            <div class="option-type">
                <label>Choose type:</label>
                <select name="type">
                    <option value="Meat main dishes">Meat main dishes</option>
                    <option value="Fish main dishes">Fish main dishes</option>
                    <option value="Vegetable dishes">Vegetable dishes</option>
                    <option value="Side dishes">Side dishes</option>
                    <option value="Soups">Soups</option>
                    <option value="Salads">Salads</option>
                    <option value="Pancakes">Pancakes</option>
                    <option value="Burgers">Burgers</option>
                    <option value="Snacks">Snacks</option>
                    <option value="Sauces">Sauces</option>
                    <option value="Bread">Bread</option>
                    <option value="Desserts">Desserts</option>
                    <option value="Bakery">Bakery</option>
                    <option value="Drinks">Drinks</option>
                    <option value="Cutlery">Cutlery</option>
                </select>
            </div>

            <div class="input-box-2">
                <input class="block" name="description" type="text" placeholder="Description">
            </div>

            <div class="input-box-3">
                <input class="block" name="price" type="number" placeholder="Price">
            </div>

            <div class="input-box-4">
                <span class="inStock">In stock</span><input class="checkbox" type="checkbox" name="inStock">
            </div>

            <div class="input-box-5">
                <input class="block" name="foodPhotoUrl" type="url" placeholder="Add picture">
            </div>


            <!--            <div>-->
            <!--            <label>Photo: </label>-->
            <!--            <input type="file" name="image" accept="image/png, image/jpeg"/>-->
            <!--            </div>-->

            <div>
                <button class="button" type="submit">Submit</button>
            </div>

        </form>

    </div>

</section>
</body>
</html>