<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin Profile</title>
  <link rel="stylesheet" href="/cssStyles/adminProfileStyle.css"/>
  <script src="https://kit.fontawesome.com/cc68b5781c.js" crossorigin="anonymous"></script></head>
<body>

<div class="sidebar">
  <div class="sidebar-logo">
    <h2 class="logo-header"><i class="fa-solid fa-carrot"></i>Restaurant</h2>
  </div>

  <div class="sidebar-menu">
    <ul>

      <li>
        <a th:href="@{/adminProfileView/{id}/adminAllOrder (id=${adminId})}" class="active"><span class="fa-solid fa-bars"></span>
          <span>All Orders</span></a>
      </li>

      <li>
        <a th:href="@{/adminProfileView/{id}/adminAddMeal (id=${adminId})}"><span class="fa-solid fa-plus"></span>
          <span>Add new Meal</span></a>
      </li>
      <li>
        <a th:href="@{/adminProfileView/{id}/adminViewAllMeal (id=${adminId})}"><span class="fa-solid fa-bars"></span>
          <span>All meals</span></a>
      </li>
      <li>
        <a th:href="@{/adminProfileView/{id}/updateProfile (id=${adminId})}"><span class="fa-solid fa-key"></span>
          <span>Change Password</span></a>
      </li>
      <li>
        <a href="/adminLogout"><span class="fa-solid fa-right-from-bracket"></span>
          <span>Logout</span></a>
      </li>
    </ul>
  </div>
</div>
<div class="main-content">
  <header>
    <div>
      <div class="admin-id"><label>Admin id <span class="id" th:text="${adminId}"></span></label>
      </div>
    </div>
  </header>

  <header>
    <div>
      <div class="admin-id">
        <label> <a class="home-link" th:href="@{/adminProfileView/{id} (id=${adminId})}"><span class="delete-edit"><i class="fa-solid fa-home"></i></span></a> Admin id <span class="id" th:text="${adminId}"></span></label>
      </div>
    </div>
  </header>

  <!-- This part doesn't work!-->

<!--  <header>-->
<!--    <div>-->
<!--      <div class="admin-id"><label>Welcome,  <span class="id" th:text="${admin.firstName}"></span></label>-->
<!--      </div>-->
<!--    </div>-->
<!--  </header>-->
  <main>
    <div class="all-order-table-box">
      <div>
        <h1 class="no-items" th:if="${orderList.isEmpty()}">There are no orders to display.</h1>
        <table class="admin-table">
          <thead>
          <tr>
            <th>Order Id</th>
            <th>Date, Time</th>
            <th>Customer Id</th>
            <th>First name</th>
            <th>Lastname</th>
            <th>Meal title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Total Cost</th>
            <th>Payment</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="order : ${orderList}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.orderTime}"></td>
            <td th:text="${order.customer.id}"></td>
            <td th:text="${order.customer.firstName}"></td>
            <td th:text="${order.customer.lastName}"></td>
            <td th:text="${order.foodItem.foodName}"></td>
            <td th:text="${order.foodItem.price}"></td>
            <td th:text="${order.quantity}"></td>
            <td th:text="${order.productCost}"></td>
            <td th:text="${order.subtotal}"></td>
            <td th:text="${order.paymentMethod}"></td>
            <!--                  <td><a class="button-update" th:href="@{order-update/{id}(id=${order.id})}">Edit</a></td>-->
          </tr>
          </tbody>
        </table>
    </div>
    </div>
  </main>
</div>
</body>
</html>