<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin Login</title>
    <link rel="stylesheet" href="/cssStyles/stylesAdminLR.css">
    <script src="https://kit.fontawesome.com/cc68b5781c.js" crossorigin="anonymous"></script>
</head>
<body>
<header>

</header>

<div class="container">
    <div class="wrapper">
        <main>
            <div class="title"><span>Login Form </span> </div>
            <form action="/adminLogin" method="post">
                <div class="row">
                    <i class="fa-sharp fa-solid fa-id-card"></i>
                    <input type="text" id="id" name="id" required placeholder="id">
                </div>
                <div class="row">
                    <i class="fa-solid fa-key"></i>
                    <input type="text" style="-webkit-text-security: circle" id="password" name="password" required placeholder="password">
                </div>
                <div>
                    <div class="pass"><a href="#">Forgot password?</a></div>
                    <button class="button" type="submit">Login</button>
                </div>
                <div>
                    <p>
                    <span th:if="${message == 'signup_success'}">
                    Registration successful. Now you can login.
                    </span>
                    <span th:if="${message == 'signup_failed'}">
                    Login is failed. Please check your id or password and try again.
                    </span>
                    </p>
                </div>
            </form>
        </main>
    </div>
</div>


</body>
</html>