<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin Profile</title>
  <link rel="stylesheet" href="/cssStyles/adminProfileStyle.css"/>
  <script src="https://kit.fontawesome.com/cc68b5781c.js" crossorigin="anonymous"></script></head>
<body>

<header>
</header>

<div class="sidebar">
  <div class="sidebar-logo">
    <h2><span class="logo">Restaurant</span></h2>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="" class="active"><span class="fa-solid fa-caret-down"></span>
        <span>Dashboard</span></a>
      </li>
      <li>
        <a th:href="@{/adminProfileView/{id}/adminAddMeal (id=${adminId})}"><span class="fa-solid fa-plus"></span>
          <span>Add Food Item</span></a>
      </li>
      <!--            <li><a href="category.html">Category</a></li>-->
      <li>
        <a th:href="@{/adminProfileView/{id}/adminViewAllMeal (id=${adminId})}"><span class="fa-solid fa-bars"></span>
          <span>View all meals</span></a>
      </li>
      <li>
        <a href=""><span class="fa-solid fa-key"></span>
          <span>Change Password</span></a>
      </li>
      <li>
        <a href=""><span class="fa-solid fa-right-from-bracket"></span>
          <span>Logout</span></a>
      </li>
    </ul>
  </div>
</div>

  <div class="main-content">
    <header>
      <h2>
        <label for="">
          <span class="fa-solid fa-bars"></span>
        </label>
        Dashboard
      </h2>

      <div class="admin-wrapper">
        <div>
          <small><span th:value="${admin.getFirstName()}"></span>
            Admin</small>
        </div>
      </div>
    </header>

    <main>
      <div class="cards">
        <div class="card-single">

          <div>
            <h1>20</h1>
            <span>Customers</span>
          </div>
          <div>
            <span class="fa-solid fa-users"></span>
          </div>
        </div>

        <div class="card-single">
          <div>
            <h1>35</h1>
            <span>Orders</span>
          </div>
          <div>
            <span class="fa-solid fa-cart-arrow-down"></span>
          </div>
        </div>
      </div>

      <div class="recent-grid">
        <div class="orders">

              <table width="100%">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Cart id</th>
                  <th>Customer id</th>
                  <th>Status</th>
                  <th>Created at</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                  <td th:text="${order.id}"></td>
                  <td th:text="${order.id}"></td>
                  <td th:text="${order.id}"></td>
                  <td th:text="${order.status}"></td>
                  <td th:text="${order.createdAt}"></td>
                  <td><a class="button-update" th:href="@{order-update/{id}(id=${order.id})}">Edit</a></td>
                </tr>
                </tbody>
              </table>

        </div>
      </div>

    </main>
  </div>
</div>


</body>
</html>