<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Profile</title>
    <link rel="stylesheet" href="/cssStyles/adminProfileStyle.css"/>
    <script src="https://kit.fontawesome.com/cc68b5781c.js" crossorigin="anonymous"></script></head>
<body>
<div class="sidebar">
    <div class="sidebar-logo">

        <h2 class="logo-header"><i class="fa-solid fa-carrot"></i>Restaurant</h2>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li>
                <!--                <a href="" class="active"><span class="fa-solid fa-caret-down"></span>-->
                <!--                    <span>Dashboard</span></a>-->
            </li>
            <li>
                <a th:href="@{/adminProfileView/{id}/adminAddMeal (id=${adminId})}"><span class="fa-solid fa-plus"></span>
                    <span>Add new meal</span></a>
            </li>
            <!--            <li><a href="category.html">Category</a></li>-->
            <li>
                <a th:href="@{/adminProfileView/{id}/adminViewAllMeal (id=${adminId})}"><span class="fa-solid fa-bars"></span>
                    <span>All meals</span></a>
            </li>
            <li>
                <a th:href="@{/adminProfileView/{id}/updateProfile (id=${adminId})}"><span class="fa-solid fa-key"></span>
                    <span>Change Password</span></a>
            </li>
            <li>
                <a href="/adminLogout"><span class="fa-solid fa-right-from-bracket"></span>
                    <span>Logout</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="second-sidebar">
    <div class="flex-links">
<!--        <a th:href="@{/adminProfileView/{id}/adminViewAllMeal (id=${adminId})}" class="menu-item">All meals</a>-->
        <a th:href="@{/adminProfileView/{id}/meatMainDishes (id=${adminId})}" class="menu-item">Meat main dishes</a>
        <a th:href="@{/adminProfileView/{id}/fishMainDishes (id=${adminId})}" class="menu-item">Fish main dishes</a>
        <a th:href="@{/adminProfileView/{id}/vegetableDishes (id=${adminId})}" class="menu-item">Vegetable dishes</a>
        <a th:href="@{/adminProfileView/{id}/sideDishes (id=${adminId})}" class="menu-item">Side dishes</a>
        <a th:href="@{/adminProfileView/{id}/soups (id=${adminId})}" class="menu-item">Soups</a>
        <a th:href="@{/adminProfileView/{id}/salads (id=${adminId})}" class="menu-item">Salads</a>
        <a th:href="@{/adminProfileView/{id}/pancakes (id=${adminId})}" class="menu-item">Pancakes</a>
        <a th:href="@{/adminProfileView/{id}/burgers (id=${adminId})}" class="menu-item">Burgers</a>
        <a th:href="@{/adminProfileView/{id}/snacks (id=${adminId})}" class="menu-item">Snacks</a>
        <a th:href="@{/adminProfileView/{id}/sauces (id=${adminId})}" class="menu-item">Sauces</a>
        <a th:href="@{/adminProfileView/{id}/bread (id=${adminId})}" class="menu-item">Bread</a>
        <a th:href="@{/adminProfileView/{id}/desserts (id=${adminId})}" class="menu-item">Desserts</a>
        <a th:href="@{/adminProfileView/{id}/bakery (id=${adminId})}" class="menu-item">Bakery</a>
        <a th:href="@{/adminProfileView/{id}/drinks (id=${adminId})}" class="menu-item">Drinks</a>
        <a th:href="@{/adminProfileView/{id}/tea (id=${adminId})}" class="menu-item">Tea</a>
        <a th:href="@{/adminProfileView/{id}/coffee (id=${adminId})}" class="menu-item">Coffee</a>
        <a th:href="@{/adminProfileView/{id}/water (id=${adminId})}" class="menu-item">Water</a>
        <a th:href="@{/adminProfileView/{id}/juice (id=${adminId})}" class="menu-item">Juice</a>
        <a th:href="@{/adminProfileView/{id}/cutlery (id=${adminId})}" class="menu-item">Cutlery</a>

    </div>
</div>
<div class="main-content">
    <header>
        <div>
            <div class="admin-id"><label>Admin id <span class="id" th:text="${adminId}"></span></label>
            </div>
        </div>
    </header>

    <main>
<!--        <h2> ALL MEAL</h2>-->

        <div class="all-meal-table-box">
                <div>
                    <h1 class="no-items" th:if="${foodItemList.isEmpty()}">There are no items to display.</h1>
                    <!--table-->
                    <table class="foodItem-table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Type</th>
                            <th>Price</th>
                            <th>In Stock</th>
                            <th>Delete</th>
                            <th>Update</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--        <tr th:each="foodItem : ${foodItemList}" th:if="${foodItem.category == 'Meat main dishes'}">-->
                        <tr th:each="foodItem:${foodItemList}">
                            <td th:text="${foodItem.id}"></td>
                            <!--            <td th:text="${foodItem.foodPhotoUrl}"></td>-->
                            <td><img th:src="${foodItem.getFoodPhotoUrl()}" width="100px"/></td>
                            <td th:text="${foodItem.foodName}"></td>
                            <td th:text="${foodItem.description}"></td>
                            <td th:text="${foodItem.category}"></td>
                            <td th:text="${foodItem.type}"></td>
                            <td th:text="${foodItem.price}"></td>
<!--                            <td th:text="${foodItem.inStock}"></td>-->
                            <td th:text="${foodItem.inStock ? 'Yes' : 'No'}"></td>
                            <td><a class="delete-edit-link" th:href="'/adminProfileView/' + ${adminId} + '/adminViewAllMeal/delete/' + ${foodItem.getId()}"><span class="delete-edit"><i class="fa-solid fa-trash"></i></span></a></td>
                            <td><a class="delete-edit-link" th:href="'/adminProfileView/' + ${adminId} + '/edit/' + ${foodItem.getId}"><span class="delete-edit"><i class="fa-solid fa-pen-to-square"></i></span></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </main>
</div>
</div>
</body>
</html>