
/* LIGA */
/*FoodItem table*/
body{
    font-size: 1.2rem;
}

.table-section{
    height: 100vh;
}
.foodItem-table{
    margin: 4rem auto 0;
    width: 90%;
    border-collapse: collapse; /* remove the default spacing between table cells */
}

.foodItem-table th, .foodItem-table td {
    width: 10%;
    padding: 0.8rem;
    text-align: center;
    border: 1px solid #ddd;
    /*font-size: 1.5rem;*/
}

.foodItem-table th {
    background-color: #c2c4c6;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    /*width: auto;*/
}

.foodItem-table tr:nth-child(even) { /* every even-number column, set color */
    background-color: #f9f9f9;
}

.th{
    text-align: center;
}

.flex-box{
    display:flex;
}

.flex-links{
    display:flex;
    flex-direction: column;
}
.menu-item{
    margin-bottom: 0.5rem;
}
.nav-box{
    margin-bottom: 2rem;
}
.nav-link-view-all{
    margin-bottom: 1rem;
}

/* Menu page */

.cart-section{
    height: 100vh;
}

.food-item-cart-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-left: 6rem;
}

.food-item-cart {
    text-align: center;
    padding: 2rem;
    border: 0.1rem solid black;
}

.dish-img img {
    display: block;
    margin: 0 auto;
}

.dish-title {
    margin-top: 20px;
}
