@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
:root{
    --green: #94d82d;
    --light-green: #eaf7d5;
    --dark: #1e2b09;
    --light: #ffffff;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 100%;
    overflow: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    padding: 1rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
header .logo{
    color: var(--dark);
    font-size: 2.5rem;
    font-weight: bolder;
}
header .logo i{
    color: var(--green);
}

header .nav-bar a{
    font-size: 1.7rem;
    border-radius: 1rem;
    padding: .5rem 1.5rem;
    color: var(--dark);
}
header .nav-bar a.active,
header .nav-bar a:hover{
    color: var(--light);
    background-color: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--dark);
    border-radius: 50%;
}
header .icons i:hover,
header .icons a:hover{
    color: var(--light);
    background: var(--green);
}

body{
    background-color: var(--light);
    overflow: hidden;
}

.wrapper{
    padding-top: 160px;
    position: fixed;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-gap: 1rem;
}

.our-history{
    background-color: var(--light-green);
}

.main-pic{
    background-color: var(--light);
}



