
<div th:fragment="footerFragment" class="footer">
<footer class="footer">

  <div class="footer-brand-logo">
    <!--            <a href="#" class="logo"><i class="fa-solid fa-carrot"></i>Restaurant</a>-->
    <a href="#menu-section" class="footer-brand"> <i class="fa-solid fa-carrot"></i><span class="footer-brand-title">Restaurant</span></a>
  </div>
  <div class="footer-container">
    <div class="footer-logo-row">
      <a href="#" class="footer-logo">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
    <div class="footer-logo-row">
      <a href="#" class="footer-logo">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
    <div class="footer-logo-row">
      <a href="#" class="footer-logo">
        <i class="fa-brands fa-twitter"></i>
      </a>
    </div>

  </div>
  <div>
    <p class="copyright">Copyright &copy; 2023 </br> by javaWarriors</p>
  </div>
</footer>
</div>


<div th:fragment="footerFragmentForProfileZone" class="footer">
  <footer class="footerForProfileZonecss">

    <div class="footer-brand-logo">
      <!--            <a href="#" class="logo"><i class="fa-solid fa-carrot"></i>Restaurant</a>-->
      <a href="#menu-section" class="footer-brand"> <i class="fa-solid fa-carrot"></i><span class="footer-brand-title">Restaurant</span></a>
    </div>
    <div class="footer-container">
      <div class="footer-logo-row">
        <a href="#" class="footer-logo">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </div>
      <div class="footer-logo-row">
        <a href="#" class="footer-logo">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
      <div class="footer-logo-row">
        <a href="#" class="footer-logo">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </div>

    </div>
    <div>
      <p class="copyright">Copyright &copy; 2023 </br> by javaWarriors</p>
    </div>
  </footer>
</div>