<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Address</title>
</head>
<body>
<header th:insert="~{fragments/header.html :: headerAfterLogin}"></header>

<section>
    <a href="#" th:href="@{/menuAfterLogin/{id}/profile (id=${customerId})}">My Profile</a>
</section>

<section >
    <form  th:action="@{/menuAfterLogin/{id}/address (id=${customerId})}" method="post" >
        <input type="hidden" name="id" th:value="${customerId}"/>


        <div>
            <label> Street</label><br>
            <input type="text" name="street" th:value="${customerAddress.street}">
        </div>
        <div>
            <label> City</label><br>
            <input type="text" name="city" th:value="${customerAddress.city}">
        </div>
        <div>
            <label> Country</label><br>
            <input type="text" name="country" th:value="${customerAddress.country}">
        </div>
        <div>
            <label> Postal Code</label><br>
            <input type="text" name="postCode" th:value="${customerAddress.postCode}">
        </div>

        <div>
            <button type="submit" value="Submit">Update</button>
        </div>
    </form>

</section>

</body>
</html>

