<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello to profile</title>
</head>
<body>
<section>
    <a href="#" th:href="@{/menuAfterLogin/{id} (id=${customerId})}">Menu</a>
    <a href="/contactUs">CONTACT US</a>
    <a href="/cart"> &#128722;</a>
    <a href="#" th:href="@{/menuAfterLogin/{id}/profile (id=${customerId})}">Profile</a>
    <a href="/index.html">Logout</a>
    <hr>
</section>
<h1>My Profile</h1>

<section >
    <form  th:action="@{/menuAfterLogin/{id}/profile (id=${customerId})}" th:object="${customerId}" method="post" >
        <div>
            <label> First Name</label><br>
            <input type="text" name="firstName" required >
        </div>
        <div>
            <label> Last Name</label><br>
            <input type="text" name="lastName" minlength="4" required >
        </div>
        <div>
            <label> Date of birth</label><br>
            <input type="date" name="dateOfBirth" required >    <!-- needs to set min age! -->
        </div>
        <div>
            <label> Phone Number</label><br>
            <input type="text" name="phoneNumber" minlength="7" maxlength="8" required oninput="this.value=this.value.replace(/[^0-9]/g,'');">  <!-- allows only integers from 7 to 8 numbers long -->
        </div>
        <div>
            <label> Email</label><br>
            <input type="email" name="email" required>
        </div>
        <div>
            <label> Password</label><br>
            <input type="password" name="password"  minlength="4" required>
        </div>


        <div>
            <button type="submit" value="Submit">Update</button>
        </div>
    </form>

</section>






</body>
</html>