<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>

<section>
    <h1>MENU</h1>
    <div>
        <div class="flex-box">
            <div class="flex-links">
                <a class="nav-link" href="/adminViewAllMeal">View all meals</a>
                <a href="menu/meatMainDishes" class="menu-item">Meat main dishes</a>
                <a href="#" class="menu-item">Fish main dishes</a>
                <a href="#" class="menu-item">Vegetable dishes</a>
                <a href="#" class="menu-item">Side dishes</a>
                <a href="#" class="menu-item">Soups</a>
                <a href="#" class="menu-item">Salads</a>
                <a href="#" class="menu-item">Pancakes</a>
                <a href="#" class="menu-item">Burgers</a>
                <a href="#" class="menu-item">Snacks</a>
                <a href="#" class="menu-item">Sauces</a>
                <a href="#" class="menu-item">Bread</a>
                <a href="#" class="menu-item">Desserts</a>
                <a href="#" class="menu-item">Bakery</a>
                <a href="#" class="menu-item">Drinks</a>
                <a href="#" class="menu-item">Cutlery</a>
            </div>
    </div>
</section>
</body>
</html>