<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Meal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Luckiest+Guy&family=Raleway:ital,wght@0,400;0,500;1,600&display=swap" rel="stylesheet">
    <link href="/cssStyles/styleFoodItemTable.css" rel="stylesheet" >
    <link rel="stylesheet" href="/cssStyles/fragment-header.css">
    <script src="https://kit.fontawesome.com/cc68b5781c.js" crossorigin="anonymous"></script>

</head>

<body>
<!--<header th:insert="~{fragments/header.html :: headerAfterLogin}"></header>-->
<header th:insert="~{fragments/header.html :: header-after-login}"></header>

<h1>Menu</h1>

<!--<form th:action="@{/menu/{id}/ (id=${customerId})}" method="post">-->
<section class="cart-section">
    <div class="flex-box">
        <div class="flex-links">
            <!--            <a class="nav-link-view-all" href="/menuAllMeals">All meals</a>-->
            <a class="menu-item" href="#" th:href="@{/menu/{id}/menuMeatMainDishes (id=${customerId})}">Meat main dishes</a>
            <a class="menu-item" href="#" th:href="@{/menu/{id}/menuFishMainDishes (id=${customerId})}">Fish main dishes</a>
            <a class="menu-item" href="#" th:href="@{/menu/{id}/menuVegetableDishes (id=${customerId})}">Vegetable dishes</a>
            <a class="menu-item" href="#" th:href="@{/menu/{id}/menuSideDishes (id=${customerId})}">Side dishes</a>
            <a class="menu-item" href="#" th:href="@{/menu/{id}/menuSoups (id=${customerId})}">Soups</a>
            <a class="menu-item" href="#" th:href="@{/menu/{id}/menuSalads (id=${customerId})}">Salads</a>
            <a class="menu-item" href="#" th:href="@{/menu/{id}/menuPancakes (id=${customerId})}">Pancakes</a>
            <a class="menu-item" href="#" th:href="@{/menu/{id}/menuBurgers (id=${customerId})}">Burgers</a>
            <a class="menu-item" href="#" th:href="@{/menu/{id}/menuSnacks (id=${customerId})}">Snacks</a>
            <a class="menu-item" href="#" th:href="@{/menu/{id}/menuSauces (id=${customerId})}">Sauces</a>
            <a class="menu-item" href="#" th:href="@{/menu/{id}/menuBread (id=${customerId})}">Bread</a>
            <a class="menu-item" href="#" th:href="@{/menu/{id}/menuDesserts (id=${customerId})}">Desserts</a>
            <a class="menu-item" href="#" th:href="@{/menu/{id}/menuBakery (id=${customerId})}">Bakery</a>
            <a class="menu-item" href="#" th:href="@{/menu/{id}/menuDrinks (id=${customerId})}">Drinks</a>
            <a class="menu-item" href="#" th:href="@{/menu/{id}/menuCutlery (id=${customerId})}">Cutlery</a>
        </div>


        <!--        <h5 th:if="${foodItemList.isEmpty()}">There are no Food items to display</h5>-->
        <div class="food-item-cart-container">
                <div th:each="foodItem:${foodItemList}" th:if="${foodItem.inStock == true}" class="food-item-cart">
                    <div class="dish-img">
                        <img th:src="${foodItem.getFoodPhotoUrl()}" width="100px" alt="food image"/>
                    </div>
                    <div class="dish-title">
                        <h6 th:text="${foodItem.foodName}"></h6>
                    </div>
                    <div>
                        <p th:text="${foodItem.description}"></p>
                    </div>
                    <div>
                        <p>Price: <span th:text="${foodItem.price}"></span></p>
                    </div>
                    <form th:action="${'/menu/' +customerId+ '/' +foodItem.id+'/cart'}" method="post">
                        <label> Quantity</label><br>
                        <!--                <div><input type="number" th:value="${1}" th:id="${foodItem.id}" min="0"></div>-->
                        <!--                <input name="quantity" th:replace="customer/quantityControl :: quantityControl(1, ${foodItem.id})">-->
                        <input name="quantity" type="number" class="qty" th:value="${1}" th:id="${foodItem.id}" min="0"/>
                        <!--            <form th:action="@{/menu/{id}/{productId}/cart (id=${customerId}) (productId=${foodItem.id})}" method="post">-->

                        <div>
                            <button type="submit" value="Submit" >Add to Cart</button>
                            <!--                <a th:href="${'/menu/' +customerId+ '/' +foodItem.id+'/cart'}"> Add to cart</a>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--</form>-->




</body>
</html>