<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/cssStyles/customer-login.css">
    <link rel="stylesheet" href="/cssStyles/fragment-header.css">
    <script src="https://kit.fontawesome.com/cc68b5781c.js" crossorigin="anonymous"></script>
</head>
<body style=" padding-top: 0px; !important;">
<header th:insert="~{fragments/header.html :: header}">
</header>

<div class="container">
    <div class="wrapper">
        <main>
            <div class="title"><span>LOGIN FORM</span></div>
            <form th:action="@{/login}" method="post">
                <div class="row">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="text" name="email" placeholder="Email" REQUIRED>
                </div><br>

                <div class="row">
                    <i class="fa-solid fa-key"></i>
                    <input type="password" style="-webkit-text-security: circle" name="password" placeholder="Password" REQUIRED>
                </div><br>

                <div>
                    <button class="button" type="submit">Login</button>
                </div>

                <div>
                    <a>Do not have an account yet.</a>
                    <br>
                    <p>
                        <a href="/register" role="button" style="text-align: justify">Register here.</a>
                    </p>
                </div>
                <div>
                    <p>
                <span th:if="${message == 'signup_success'}">
                  Registration successful. Please enter your details to login
                </span>
                        <span th:if="${message == 'login_failed'}">
                   Unable to login with this email and password
                </span>
                    </p>
                </div>

            </form>
        </main>

    </div>

</div>

<footer th:insert="~{fragments/footerFragment :: footerFragment}"></footer>
</body>
</html>