<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/cssStyles/customer-login.css">
    <link rel="stylesheet" href="/cssStyles/fragment-header.css">
    <script src="https://kit.fontawesome.com/cc68b5781c.js" crossorigin="anonymous"></script>
</head>
<body>
<header th:insert="~{fragments/header.html :: header}"></header>

<div class="container">
    <div class="wrapper">
        <main>
            <div class="title"><span>REGISTRATION FORM</span></div>
            <form th:action="@{/register}"  method="post" th:object="${customer}">
                <div class="row">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="firstName" required th:value="${customer?.getFirstName()}" placeholder="First name">
                </div>
                <div class="row">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="lastName"  required th:value="${customer?.getLastName}" placeholder="Last name">
                </div>
                <div class="row">
                    <i class="fa-solid fa-cake-candles"></i>
                    <input type="date" name="dateOfBirth" required th:value="${customer?.getDateOfBirth}" placeholder="Date of birth">    <!-- needs to set min age! -->
                </div>
                <div class="row">
                    <i class="fa-solid fa-phone"></i>
                    <input type="text" name="phoneNumber" minlength="7" maxlength="8" required th:value="${customer?.getPhoneNumber}" placeholder="Phone number" oninput="this.value=this.value.replace(/[^0-9]/g,'');">  <!-- allows only integers from 7 to 8 numbers long -->
                </div>
                <div class="row">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" name="email" required th:value="${customer?.getEmail}" placeholder="Email">
                </div>
                <div class="row">
                    <i class="fa-solid fa-key"></i>
                    <input type="password" name="password"  minlength="4" required th:value="${customer?.getPassword}" placeholder="Password">
                </div>

                <!-- customerAddress -->

                <div class="row">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <input type="text" name="street" required th:value="${customerAddress?.getStreet}" placeholder="Street">
                </div>
                <div class="row">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <input type="text" name="city" required th:value="${customerAddress?.getCity}" placeholder="City">
                </div>
                <div class="row">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <input type="text" name="country" required th:value="${customerAddress?.getCountry}" placeholder="Country">
                </div>
                <div class="row">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <input type="text" name="postCode" required th:value="${customerAddress?.getPostCode}" placeholder="Postal code">
                </div>

                <div>
                    <button class="button"> Create account</button>
                </div>

                <div>
                    <p th:if="${message}">
                        <span th:if="${message == 'signup_failed'}"> </span>
                        <label th:if="${error}" th:text="${error}"> </label>
                    </p>
                </div>
            </form>

        </main>
    </div>
</div>



</body>
</html>