<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<header th:insert="~{fragments/header.html :: header}"></header>
<main>

    <form action="/register"  method="post">
        <div>
            <label> First Name</label><br>
            <input type="text" name="firstName" required th:value="${customer?.getFirstName()}">
        </div>
        <div>
            <label> Last Name</label><br>
            <input type="text" name="lastName" minlength="4" required th:value="${customer?.getLastName}">
        </div>
        <div>
            <label> Date of birth</label><br>
            <input type="date" name="dateOfBirth" required th:value="${customer?.getDateOfBirth}">    <!-- needs to set min age! -->
        </div>
        <div>
            <label> Phone Number</label><br>
            <input type="text" name="phoneNumber" minlength="7" maxlength="8" required th:value="${customer?.getPhoneNumber}" oninput="this.value=this.value.replace(/[^0-9]/g,'');">  <!-- allows only integers from 7 to 8 numbers long -->
        </div>
        <div>
            <label> Email</label><br>
            <input type="email" name="email" required th:value="${customer?.getEmail}">
        </div>
        <div>
            <label> Password</label><br>
            <input type="password" name="password"  minlength="4" required th:value="${customer?.getPassword}">
        </div>

<!-- customerAddress -->


        <div>
            <label> Street</label><br>
            <input type="text" name="street" required th:value="${customerAddress?.getStreet}">
        </div>
        <div>
            <label> City</label><br>
            <input type="text" name="city" required th:value="${customerAddress?.getCity}">
        </div>
        <div>
            <label> Country</label><br>
            <input type="text" name="country" required th:value="${customerAddress?.getCountry}">
        </div>
        <div>
            <label> Postal Code</label><br>
            <input type="text" name="postCode" required th:value="${customerAddress?.getPostCode}">
        </div>

        <div>
            <button> Create account</button>
        </div>

        <div>
            <p th:if="${message}">
                <span th:if="${message == 'signup_failed'}"> </span>
                <label th:if="${error}" th:text="${error}"> </label>
            </p>
        </div>



    </form>

</main>



</body>
</html>