<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="/cssStyles/cartStyle.css">
    <link rel="stylesheet" href="/cssStyles/fragment-header.css">
    <script src="https://kit.fontawesome.com/cc68b5781c.js" crossorigin="anonymous"></script>
</head>
<body>
<header th:insert="~{fragments/header.html :: headerAfterLogin}"></header>



    <div class="cartContainer">
        <div ><h3> Shopping Cart:</h3></div>
        <div class="Cart-Items">
            <th:block th:each="item, status : ${cartItems}">
           <div th:with="foodItem=${item.foodItem}">   <!-- declaring new variable-->
                <div>
<!--                    coll for number count-->
                    <div>[[${status.count}]]</div>
                </div>
<!--                col for immage-->
                <div class=”image-box”>
                <img th:src="@{${foodItem.getFoodPhotoUrl() }}" class="picHeight"/>
            </div>
                <div>
                    <div>
<!--                        <a th:href="@{${foodItem.URI}}" th:title="${foodItem.foodName}" target="_blank">-->
                            <b>[[${foodItem.foodName}]]</b>

                    </div>
        <form th:action="${'/menu/' +customerId+ '/' +foodItem.id+'/cart/update'}" method="post">
                    <input name="quantity" type="number" class="qty" th:value="${item.quantity}" th:id="${foodItem.id}" min="1"/>
                    <div>
                        <span>x</span>
                        <span> [[${foodItem.price}]] &#x20AC</span>
                    </div>
                    <div><span>= </span><span class="productSubtotal">[[${item.getSubtotal()}]] &#x20AC</span></div>
            <button type="submit" value="Submit" >Update changes</button>
        </form>

                    <form th:action="${'/menu/' +customerId+ '/' +foodItem.id+'/cart/delete'}" method="post">
                        <div><button type="submit" value="Submit">Delete</button>
                        </div>
                    </form>
                </div>

            </div>
                <hr>
            </th:block>


        <div th:unless="${#lists.isEmpty(cartItems)}">
            <div><span>Total Price:</span></div>
            <div ><span id="totalAmount" >[[${totalAmount}]]</span></div>
            <div>
                <form th:action="${'/menu/' +customerId+ '/cart/order'}" method="get">
                <button type="submit" class=”button” >Check Out</button>
                </form>
                <a href="#" th:href="@{/menu/{id}/address (id=${customerId})}"> Update Delivery Address</a>
            </div>
            <div>&nbsp;</div>    <!--adds space-->
        </div>
        </div>
    </div>
<div th:if="${#lists.isEmpty(cartItems)}">
    <h3>You have not chosen any products yet.</h3>

</div>
<footer th:insert="~{fragments/footerFragment :: footerFragment}"></footer>
</body>
</html>