@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
:root{
    --green: #94d82d;
    --light-green: #eaf7d5;
    --dark: #1e2b09;
    --light: #ffffff;
    --gray: #868e96;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

.sidebar{
    width: 345px;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background: var(--green);
    z-index: 100;
}
.sidebar-logo{
    margin-top: 2rem;
    /*margin-right: 4rem;*/
    margin-left: 2rem;
    height: 90px;
    padding: 1rem 0 1rem 2rem;
    color: var(--dark);
    text-align: center;
}
.logo-header{
    margin-right: 10rem;
}
.sidebar-logo span{
    display: inline-block;
    padding-right:  1rem;
    padding-left: 2rem;
}
.sidebar-menu{
    margin-top: 1rem;
}
.sidebar-menu a{
    display: block;
    color: var(--dark);
    font-size: 1.4rem;
    padding-left: 2rem;
    /*font-size: 1.6rem;*/
}

.second-sidebar{
    /*background-color: crimson;*/
    margin-top:1rem;
    width: 9rem;
    height: 100%;
    left: 22rem;
    top: 5rem;
    position: fixed;
    z-index: 100;
}

.fa-carrot{
    color: var(--light);
}

.home-icon-box{
    /*background-color: #b42121;*/

}
.admin-id-box{
    /*background-color: cadetblue;*/
}

.home-icon{
    padding-bottom: 0;
}
.admin-home-id-box{
    background-color: #767676;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-top: .5rem;
    font-size: 1.2rem;
    width: 10rem;
    margin-left: 2rem;
}
.id{
    font-size: 1.4rem;
    padding-bottom: 0;
}
/* style for links */
.sidebar-menu a:link,
.sidebar-menu a:visited{
    text-decoration: none;
    /*font-weight: 500;*/
    /*color: #343a40;*/
    /*transition: all 0.3s;*/
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 30px 0 0 30px;
    /*background: var(--green);*/
    /*background-color: palevioletred;*/
}

.sidebar-menu a:hover,
.sidebar-menu a:active{
    background: var(--light);
    /*padding-top: 1rem;*/
    /*padding-bottom: 1rem;*/
    color: var(--dark);
    border-radius: 30px 0 0 30px;
}

/*.sidebar-menu a.active{*/
/*    background: var(--light);*/
/*    padding-top: 1rem;*/
/*    padding-bottom: 1rem;*/
/*    color: var(--dark);*/
/*    border-radius: 30px 0 0 30px;*/
/*}*/

.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: .5rem;
}

.main-content{
    margin-left: 345px;
    /*background-color: red;*/
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 4rem 2rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    background-color: white;
}

header h2{
    color: var(--dark);
}

header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}
.admin-wrapper{
    padding-top: 1rem;
    display: flex;
    align-items: center;
}

.admin-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}
.admin-wrapper h4{
    /*margin-bottom: 0 !important;*/
}
.admin-wrapper small{
    display: inline-block;
    color: var(--dark);
}

main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: var(--light);
    min-height: calc(100% - 90px);
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;

}

.card-single{
    display: flex;
    justify-content: space-between;
    background: var(--green);
    padding: 2rem;
    border-radius: 30px;
}

.card-single div:first-child span{
    color: var(--green);
}

.card-single div:last-child span{
    font-size: 1.5rem;
    color: var(--dark);
}

.card-single:last-child{
    background: var(--light-green);
}

.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span{
    color: var(--green);
}

.admin-id{
    font-size: 18px;
    font-weight: 600;
    
}
/*.recent-grid{*/
/*    background-color: yellow;*/
/*    text-align: center;*/
/*    height: 40rem;*/
/*    padding-top: 2rem;*/
/*}*/


/* ADD/UPDATE meal form */
h2{
    text-align: center;
    color:var(--dark);

}

/* display: flex is Not working for this container */
.form-container{
    align-items: center;
    /*background-color: yellow;*/
}

.form-flex{
    margin:0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*background-color: #45a049;*/
    width: 400px;
    padding: 30px 20px 25px 20px;
}

.box {
    height: 2rem;
    width: 100%;
    /*background: yellow;*/
    margin-bottom: 1.2rem;
}

.block{
    border: 1px solid var(--gray);
    height: 2rem;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2rem;
    text-align: center;
    background-color: var(--light);
    font-size: 1.2rem;
}

.block:hover,.block:focus {
    /*border: 1px solid var(--green);*/
    box-shadow: 2px 2px 2px #ccc;
    background-color: var(--light);
    outline: none;
}

/*.block:hover{*/
/*    border: var(--green) solid 0.1rem;*/
/*}*/

.inStock{
    font-size: 1.2rem;
    padding-bottom: 1rem;
    /*margin-right:*/
}

.checkbox {
    width: 1.4rem;
    height: 1.4rem;
}

.form-button{
    border: 2px solid var(--gray);
    border-radius: 5px;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    background-color: var(--light-green);
}

.form-button:hover,
.form-button:active{
    box-shadow: 2px 2px 2px #ccc;
    background-color:#e9ecef;
    border-color: var(--gray);
    background-color: var(--green);
}


.grid-container-update {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*background-color: indianred;*/

}

.img-box{
    /*background-color: mediumpurple;*/
    margin: 0 auto;
    padding-top: 6rem;
}

.meal-img{
   /*width:100%;*/
   /* border-radius: 5px;*/
    border-radius: 11px;
    box-shadow: 2px 2px 2px #ccc;
}

.no-items{
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
    font-weight: normal;
}

/* ALL MEALS/ORDERS TABLE */

.all-order-table-box{
    margin-left: 0;
    text-align: center;
    margin-top: -2rem;
}

.all-meal-table-box{
    /*background-color: palevioletred;*/
    margin-left: 9rem;
    text-align: center;
    margin-top: -1rem;
}

/*.nav-box .nav-link-view-all{*/
/*    font-size: 1.2rem;*/
/*    border-radius: 1rem;*/
/*    padding: .5rem 1.5rem;*/
/*    color: var(--dark);*/
/*}*/
/*body{*/
/*    padding-top: 160px;*/
/*    font-size: 1.2rem;*/
/*}*/

/*.table-section{*/
/*    height: 100vh;*/
/*}*/
.admin-table{
    /*margin: 4rem auto 0;*/
    width: 100%;
    border-collapse: collapse; /* remove the default spacing between table cells */
    font-size: 1.2rem;
}

.admin-table th, .admin-table td {
    width: 10%;
    padding: 0.8rem;
    text-align: center;
    /*border: 1px solid #ddd;*/
    /*font-size: 1.5rem;*/
}

.admin-table th {
    /*border-bottom: #c2c4c6;*/
    background-color: #f1f3f5;
    color: var(--dark);
    /*color:#343a40;*/
    /*font-weight: 400;*/
    /*font-size: 1.5rem;*/
    text-align: center;
    /*width: auto;*/
}

.admin-table tr:nth-child(even) { /* every even-number column, set color */
    background-color: #f1f3f5;
}

/*.th{*/
/*    text-align: center;*/
/*}*/

/*.flex-box{*/
/*    display:flex;*/
/*    text-align: ;*/
/*}*/

.flex-links{
    display:flex;
    flex-direction: column;
    line-height: 1.4;
    font-size: 1.2rem;
    padding-left: 1rem;
    /*color:#495057;*/
    /*background-color: #b42121;*/
}


/*.menu-item{*/
/*    text-decoration: none;*/
/*    !*color:#343a40;*!*/
/*}*/
.menu-item:link,
.menu-item:visited{
    /*display: inline-block;*/
    text-decoration: none;
    color:#343a40;
    transition: all 0.3s;
}

.menu-item:hover,
.menu-item:active{
   /*color: var(--dark);*/
    font-weight: bolder;
}




/*.nav-box{*/
/*    margin-bottom: 2rem;*/
/*}*/
/*.nav-link-view-all{*/
/*    margin-bottom: 1rem;*/
/*}*/


/*.delete-edit:link,*/
/*.delete-edit:visited{*/
/*    display: inline-block;*/
/*    text-decoration: none;*/
/*    !*color:#343a40;*!*/
/*    transition: all 0.3s;*/
/*}*/

/*.home-icon{*/
/*    font-size: 1rem;*/
/*}*/

.delete-edit-home{
    color:#868e96;
}


.delete-edit-home:hover,
.delete-edit-home:active{
    color:#343a40;
}