@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
:root{
    --green: #94d82d;
    --light-green: #eaf7d5;
    --dark: #1e2b09;
    --light: #ffffff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

.sidebar{
    width: 345px;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background: var(--green);
    z-index: 100;
}
.sidebar-logo{
    height: 90px;
    padding: 1rem 0 1rem 2rem;
    color: var(--dark);
}
.sidebar-logo span{
    display: inline-block;
    padding-right:  1rem;
    padding-left: 2rem;
}
.sidebar-menu{
    margin-top: 1rem;
}
.sidebar-menu a{
    display: block;
    color: var(--dark);
    font-size: 1.1rem;
    padding-left: 1rem;
}
.sidebar-menu a.active{
    background: var(--light);
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--dark);
    border-radius: 30px 0 0 30px;
}

.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.3rem;
}

.main-content{
    margin-left: 345px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
}

header h2{
    color: var(--dark);
}

header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}
.admin-wrapper{
    display: flex;
    align-items: center;
}

.admin-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}
.admin-wrapper h4{
    margin-bottom: 0 !important;
}
.admin-wrapper small{
    display: inline-block;
    color: var(--dark);
}

main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: var(--light);
    min-height: calc(100% - 90px);
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;

}

.card-single{
    display: flex;
    justify-content: space-between;
    background: var(--green);
    padding: 2rem;
    border-radius: 30px;
}

.card-single div:first-child span{
    color: var(--green);
}

.card-single div:last-child span{
    font-size: 1.5rem;
    color: var(--dark);
}

.card-single:last-child{
    background: var(--light-green);
}

.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span{
    color: var(--green);
}



