/** {*/
/*    box-sizing: border-box;*/
/*}*/
/*body{*/
/*    background: #e8afaf;*/
/*    margin:0;*/
/*    padding:0;*/
/*}*/
.main {
    margin-left: 10px; /* Same as the width of the menu */
    margin-right: 10px;
    font-size: 20px; /* Increased text to enable scrolling */
    display:contents;

    padding: 17px 232px;
}
.container {
    margin: 0px 100px 30px 100px;  /*TOP/L/DOWN/R*/
    border-radius: 5px;
    background-color:#94d82d;;
    padding: 20px;
}
input[type=submit]:hover {
    background-color: #45a049;
}
input[type=submit] {
    background-color: #1e2b09;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 16px;
    resize: vertical;

    background:white;;
    color: black;
}

section {
    height: 100vh;
}
h2{
    text-align: center;
}