@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
:root{
    --green: #94d82d;
    --light-green: #eaf7d5;
    --dark: #1e2b09;
    --light: #ffffff;
    /* I think this shadow is too black for Menu page design, how do you think?*/
    /*--box-shadow: 0 .5rem 1.5rem rgba(0,0,0,1); */
    --box-shadow: 0px 4px 15px rgb(0 0 0 /8%);
}
header{
    position: fixed;
    background-color: var(--light);
}

.header{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    padding: 1rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    background: var(--light);
}


.header.logo,
.menu-header .menu-logo{
    color: var(--dark);
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .logo i,
.menu-header .menu-logo i{
    color: var(--green);
}

.header .nav-bar a,
.menu-header .menu-nav-bar a{
    font-size: 1.7rem;
    border-radius: 1rem;
    padding: .5rem 1.5rem;
    color: var(--dark);
}

.header .nav-bar a.active,
.header .nav-bar a:hover,
.menu-header .menu-nav-bar a.active,
.menu-header .menu-nav-bar a:hover{
    color: var(--light);
    background-color: var(--green);
}

.header .icons i,
.header .icons a,
.menu-header .menu-icons i,
.menu-header .menu-icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--dark);
    border-radius: 50%;
}
.header .icons i:hover,
.header .icons a:hover,
.menu-header .menu-icons i:hover,
.menu-header .menu-icons a:hover{
    color: var(--light);
    background: var(--green);
}


/* MENU PAGE HEADER */
/* This header should have be improved so it will be the same in each page */
.menu-header{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}


/*duplicate code from stylesMenu for header*/

:root{
    --green: #94d82d;
    --light-green: #eaf7d5;
    --dark: #1e2b09;
    --light: #ffffff;
    /*--box-shadow: 0 .5rem 1.5rem rgba(0,0,0,1);*/
    /*--box-shadow: 0 .5rem 1.5rem rgba(0,0,0,1);*/
    --box-shadow: 0px 4px 15px rgb(0 0 0 /8%);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    /*outline: none;*/
    /*border: none;*/
    /*text-transform: capitalize;*/
    /*transition: all .2s linear;*/
}

html{
    font-size: 100%;
    /*font-size: 62.5%; !* 10px/ 16px = 0.625= 62.5%  setting for making design responsive *!*/
    /*overflow-y: scroll;*/
    /*overflow: hidden;*/
    /*scroll-padding-top: 6rem;*/
    /*scroll-behavior: smooth;*/
}

header{
    position: fixed;
    height:5rem;
    top:0;
    left:0;
    right: 0;
    padding: 1rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    background-color: var(--light);

}

header .logo {
    color: var(--dark);
    font-size: 2.5rem;
    font-weight: bolder;
}
header .logo i{
    color: var(--green);
}

header .nav-bar a{
    font-size: 1.7rem;
    border-radius: 1rem;
    padding: .5rem 1.5rem;
    color: var(--dark);
}
header .nav-bar a.active,
header .nav-bar a:hover{
    color: var(--light);
    background-color: var(--green);
    box-shadow: 0 4px 15px rgb(0 0 0 /8%);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--dark);
    border-radius: 50%;
}
header .icons i:hover,
header .icons a:hover{
    color: var(--light);
    background: var(--green);
}




body{
    background-color: var(--light);
 padding-top: 155px;   /*addds padding on top so our header will not absorb/hide all information after insode it*/
    /*overflow-y: scroll;*/
}









