/* Menu page */

/* Styles from main page */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


/* need to be fixed */
/*:root{*/
/*    --green: #94d82d;*/
/*    --light-green: #eaf7d5;*/
/*    --dark: #1e2b09;*/
/*    --light: #ffffff;*/
/*    !*--box-shadow: 0 .5rem 1.5rem rgba(0,0,0,1);*!*/
/*    !*--box-shadow: 0 .5rem 1.5rem rgba(0,0,0,1);*!*/
/*    --box-shadow: 0px 4px 15px rgb(0 0 0 /8%);*/

/*}*/
/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: 'Oswald', sans-serif;*/
/*    text-decoration: none;*/
/*    !*outline: none;*!*/
/*    !*border: none;*!*/
/*    !*text-transform: capitalize;*!*/
/*    !*transition: all .2s linear;*!*/
/*}*/

/*html{*/
/*    font-size: 100%;*/
/*    !*font-size: 62.5%; !* 10px/ 16px = 0.625= 62.5%  setting for making design responsive *!*!*/
/*    !*overflow-y: scroll;*!*/
/*    !*overflow: hidden;*!*/
/*    !*scroll-padding-top: 6rem;*!*/
/*    !*scroll-behavior: smooth;*!*/
/*}*/

/*header{*/
/*    position: fixed;*/
/*    height:5rem;*/
/*    top:0;*/
/*    left:0;*/
/*    right: 0;*/
/*    padding: 1rem 10%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    z-index: 1000;*/
/*    box-shadow: var(--box-shadow);*/
/*    background-color: var(--light);*/

/*}*/

/*header .logo {*/
/*    color: var(--dark);*/
/*    font-size: 2.5rem;*/
/*    font-weight: bolder;*/
/*}*/
/*header .logo i{*/
/*    color: var(--green);*/
/*}*/

/*header .nav-bar a{*/
/*    font-size: 1.7rem;*/
/*    border-radius: 1rem;*/
/*    padding: .5rem 1.5rem;*/
/*    color: var(--dark);*/
/*}*/
/*header .nav-bar a.active,*/
/*header .nav-bar a:hover{*/
/*    color: var(--light);*/
/*    background-color: var(--green);*/
/*    box-shadow: 0 4px 15px rgb(0 0 0 /8%);*/
/*}*/

/*header .icons i,*/
/*header .icons a{*/
/*    cursor: pointer;*/
/*    margin-left: .5rem;*/
/*    height: 4.5rem;*/
/*    line-height: 4.5rem;*/
/*    width: 4.5rem;*/
/*    text-align: center;*/
/*    font-size: 1.7rem;*/
/*    color: var(--dark);*/
/*    border-radius: 50%;*/
/*}*/
/*header .icons i:hover,*/
/*header .icons a:hover{*/
/*    color: var(--light);*/
/*    background: var(--green);*/
/*}*/

/*body{*/
/*    background-color: var(--light);*/
/*    !*overflow-y: scroll;*!*/
/*}*/


.wrapper{
    padding-top: 160px;
    position: fixed;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-gap: 1rem;
}

.our-history{
    background-color: var(--light-green);
}

.main-pic{
    background-color: var(--light);
}
/**************************************/
.cart-section{
    height: 100vh;
    margin-top: 8rem;
    margin-bottom: 8rem;
    /*background-color: blueviolet;*/

}

.flex-box{
    /*background-color: #04AA6D;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.flex-links-category{
    color: var(--dark);
    text-decoration: none;
    /*position: fixed;*/
    /*top: 5rem;*/
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*margin-bottom: 1rem;*/
    font-size: 1.6rem;
    /*width:100%;*/
    /*background-color: var(--light);*/
    /*background-color: var(--green);*/
}

.flex-links{
    color: var(--dark);
    font-size: 1.2rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top:1rem;
    /*position: fixed;*/
    /*top: 5.9rem;*/
    padding-bottom: 1rem;
    width:100%;
    background-color: var(--light);
    overflow: hidden;
    /*background-color: palevioletred;*/
}
.item{
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--dark);
    text-decoration: none;
}


.category:link,
.category:visited{
    text-decoration: none;
    font-weight: 500;
    color: #343a40;
    transition: all 0.3s;
}

.category:hover,
.category:active{
    border-bottom: 2px solid #94d82d;
}

.type:link,
.type:visited{
    text-decoration: none;
    font-weight: 500;
    /*color: #343a40;*/
    /*transition: all 0.3s;*/
}

.type:hover,
.type:active{
   /*color: #94d82d;*/
    font-weight: bold;
}

/* Menu item cart */

.food-item-cart-container {
    text-align: center;
    width:90%;
    /*background-color: #45a049;*/
    /*padding-top:6rem;*/
    display: grid;
    /*display: flex;*/
   grid-template-columns: repeat(5, 1fr);   /*makes how much rows there will be*/
    grid-column-gap: 1rem;
    overflow: auto;
    margin-bottom: 2rem;
    max-height: 200vh; /* should change */
}
.food-item-cart{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /*background-color: yellow;*/
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.075);
    border-radius: 11px;
    text-align: center;
    width: 14rem;
    margin: 1.5rem auto;
    padding-bottom: 1rem;
   /* padding: 1rem;*/
    overflow: hidden; /* whatever overflows this container should be hidden */

}


.meal-title{
    font-size: 1.8rem;
    color: var(--dark);
    padding-left: 1rem;
    padding-right: 1rem;
}

.meal-description{
    font-size:1.2rem;
    color: var(--dark);
    padding-left: 1rem;
    padding-right: 1rem;
}

.qty-button{
    display:flex;
    text-align: center;
    justify-content: space-around;
}

.qty{
    width:3rem;
}

input.qty {
    width: 3rem;
    height: 2rem;
    padding: 0.5rem;
    border: 1px solid #94d82d;
    border-radius: 11px; /* here should apply the same style as main nav links */
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    background-color:var(--light);
    box-shadow: 2px 2px 2px #eee;
    transition: all 0.2s ease-in-out;
}

input.qty:hover, input.qty:focus {
    border: 1px solid #3e8e41;;
    box-shadow: 2px 2px 2px #ccc;
    background-color: var(--light);
    outline: none;
}

.add-to-cart-button {
    width: 6rem;
    height: 2rem;
    background-color: #94d82d;
    /*background-color: #2f9e44;*/
    border-radius: 11px;
    border: none;
    /*color: white;*/
    color: var(--dark);
    /*color: #3B5612;*/
    /*padding-top: 0.2rem;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    /*margin: 0.5rem;*/
    cursor: pointer;
    box-shadow: 2px 2px 2px #eee;
    transition: all 0.2s ease-in-out;
}

.add-to-cart-button:hover {
    background-color:#4a6c17 ;
    /*border: 1px solid #94d82d;*/
    /*background-color: var(--light);*/
}

.meal-img{
    width: 100%;
    display: block;
    transition: all 0.4s;




}

.meal-img:hover {
    transform: scale(1.1);
}

/* Footer */


/*if there is more meal cards on page, the footer is going behind these cards, For now nI fixed this adding additional section, but it's not best solution */
/*.footer {*/
/*    border-top: 1px solid #eee;*/
/*    !*background-color:gray;*!*/
/*    text-align: center;*/
/*    margin-top: 4rem;*/
/*    !*position: fixed;*!*/
/*    !*overflow: hidden;*!*/

/*}*/

/*.footer-container{*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*    width: 8rem;*/
/*    height: 4rem;*/
/*    !*background-color: white;*!*/
/*    margin: 0 auto;*/
/*}*/

/*.copyright{*/
/*    margin-top: 6rem;*/
/*    color: #767676;*/
/*    padding-bottom: 1rem;*/
/*}*/

/*.footer-brand-logo{*/
/*    font-size: 2rem;*/
/*    font-weight: bolder;*/
/*    padding-top: 4rem;*/
/*    !*background-color: #c2c4c6;*!*/

/*}*/
/*.footer-brand-title{*/
/*    color: var(--dark);*/

/*}*/
/*.footer-brand{*/
/*    color: var(--green);*/
/*}*/
/*.footer-logo{*/
/*    font-size: 1.6rem;*/
/*    color: #343a40;*/
/*}*/

/*.footer-logo:link,*/
/*.footer-logo:visited{*/
/*    display: inline-block;*/
/*    text-decoration: none;*/
/*    color: #767676;*/
/*    transition: all 0.3s;*/
/*}*/

/*.footer-logo:hover,*/
/*.footer-logo:active{*/
/*    color: var(--green);*/
/*}*/
/***********************************/

